html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4c6ef5;
  padding: 1rem;
  color: white;
}

header h1 a {
  color: white;
  text-decoration: none;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
   flex: 1;
}

footer {
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.btn {
  padding: 6px 12px;
  background-color: #4c6ef5;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 5px;
}

.btn:hover {
  background-color: #3b5bdb;
}

.btn-danger {
  background-color: #e03131;
}

.btn-danger:hover {
  background-color: #c92a2a;
}

.btn-primary {
  background-color: #2b8a3e;
}

.btn-primary:hover {
  background-color: #2f9e44;
}
